# Auto detect text files and perform LF normalization
* text=auto

#gitattributes from mrpro

# Set the default behavior for all files.
* text=auto eol=lf

# Normalized and converts to native line endings on checkout.
*.py text
*.pyx text